.idea/
*.bak
*.egg
*.egg-info/
*.pyc
.cache/
.coverage
.coverage.*
.eggs/
.tox/
amps-standalone*
build
coverage.xml
**/*.log
/.python-version
/CHANGELOG
/ChangeLog
/AUTHORS
/tests/build
confluence-dev.ipynb
.ipynb_checkpoints/
config.ini
